<style>
	:root {--parent-height-1: 5vh;}
		
	* {touch-action: manipulation;}
		
	/* disable pull to refresh, keeps glow effects */
	html, body {
		font-family: Arial;
		padding: 0px;
		margin: 0px;
		overscroll-behavior-y: contain; 
	}
  
  body {
 overflow: hidden;
 }

.iFrame_content {
            width: 100vw;
            width: calc(var(--vw, 1vw) * 100);
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
            
        }
</style>
